.basket-wrapper {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    width: 400px;
    z-index: 4;
    background-color: rgb(254, 255, 255);
}

.dark-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #726f6fc0 !important;
    z-index: 3;
}

.basket-item-card-image {
    width: 150px;
    height: 150px;

    img {
        width: 100%;
        height: 100%;
    }
}

.disable-scroll {
    overflow: hidden;
}

.basket-item-card-wrapper {
    margin-top: 20px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid rgba(128, 128, 128, 0.267);

}

.basket-item-counter {
    input {
        text-align: center;
        border: 1px solid gainsboro;
        width: 30%;
    }
}

.basket-item-card-inner {
    padding: 10px;
    position: relative;

}

.remove-from-basket {
    color: #ff0000;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

.totalBasketPrice {
    font-size: 20px;
    color: #ff0000;
}