header {

    .navbar-container {
        margin-top: 35px;
    }

    .logo {
        width: 275px;

        .pmLogo {
            width: 140px;
        }
    }


    .alert {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 450px;
        border-right: 1px solid #dddddd;

        a {
            font-size: 20px;
            margin-left: 5px;
        }

        span {
            margin-left: 5px;
            font: 700 21px verlag, helvetica, arial, sans-serif;
        }
    }

    .phone-number {
        font-feature-settings: normal;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;

    }

    .contact-div {
        display: flex;

        .contact,
        .support {
            display: flex;
            flex-direction: column;
            align-items: center;

            .phone-number {
                width: 148px;
            }

            margin-left: 30px;
        }

        .support {
            padding-top: 10px;
            border-right: 1px solid #dddddd;
        }
    }

    .icons {
        width: 250px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        font-size: 30px;
        color: #535353;

        div {
            margin-left: 15px;
        }
    }

}

.nav-list {
    justify-content: center;
    align-items: center;
    height: 50px;

    ul {
        display: flex;
        list-style: none;

        li {
            margin: 60px;

            a {
                text-decoration: none;
                color: #404040;
                font: 500 16px knockout, helvetica, arial, sans-serif;
                letter-spacing: 1.8px;
                text-transform: uppercase;
                padding: 1em 0;
            }
        }
    }
}

.fa-bag-shopping {
    position: relative;

    .basker-count-main {
        position: absolute;
        top: 0px;
        right: -20px;
        color: white;
        background-color: #ff0000;
        border-radius: 50%;
        padding: 5px;
        font-size: 10px;

    }
}