.slider {
    margin: 15px auto 0;
    width: 80%;
    background-size: cover;

    .slider-inner {
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        background-size: cover;
    }

    .slider-item {
        width: 1300px;
        height: 650px;
        transition: opacity 2s ease;
        img{
            width: 100%;
            height: 100%;
        }
    }
    
    .slider-item.hide {
        opacity: 0;
    }
    
    .slider-item.show {
        opacity: 1;
    }
    

    .slider-icon {
        color: #535353;
        font-size: 50px;

        &:hover {
            cursor: pointer;
        }
    }

}