@media only screen and (min-width: 750px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
        /*ready code*/
        .textStyleOfProduct {
            font-size: 15px;
        }
        main {
            height: 1060px;
            width: 90%;
    
            .secondMain {
                height: 550px;  
                width: 100%;         
                display: flex;
                flex-direction: row;
    
                .boxesOfSecondMain {
                    height: 536px; 
                    width: 33.33%;        
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .boxOfProductImg {
                        height: 448px;
                        width: 100%;
    
                        a {
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }                 
                    }
                    .boxOfProductName {
                        height: 72px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
    
                        a {
                            text-decoration: none;
                            p {
                                color: black;
                            }
                        }
                    }
                }            
            }
        }   
    }
}
@media only screen and (max-width: 750px) {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    
        /*ready code*/
        .textStyleOfProduct {
            font-size: 15px;
        }
        main {
            height: 2900px;
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
    
            .secondMain {
                height: 1000px;  
                width: 100%;         
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .boxesOfSecondMain {
                    height: 33.33%; 
                    width: 60%;        
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    .boxOfProductImg {
                        height: 60%;
                        width: 100%;
    
                        a {
                            img {
                                height: 100%;
                                width: 100%;
                            }
                        }                 
                    }
                    .boxOfProductName {
                        height: 72px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

    
                        a {
                            text-decoration: none;
                            p {
                                color: black;
                                font-size: 14px;
                            }
                        }
                    }
                }            
            }
        }   
    }
}
