.sort-by-section {
  display: flex;
  justify-content: space-around;
}
.sort-by-section a {
  color: #333;
  text-decoration: none;
}
.sort-by-section a:hover {
  text-decoration: underline solid black;
}

.sort-by-input {
  width: 20%;
}

.offer-card-wrapper {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.offer-card-image-wrapper img {
  width: 100%;
}

.offer-card-inner-wrapper p {
  overflow: hidden;
  font-size: 12px;
}

.offer-card-href {
  text-decoration: none;
  color: #333;
}
.offer-card-href:hover {
  color: rgb(204, 1, 1);
  text-decoration: underline rgb(204, 1, 1);
}

.offer-card-price span:hover {
  text-decoration: none;
}

.offer-card-col {
  position: relative;
}

.offer-card-price {
  color: rgb(204, 1, 1);
}

.filters-wrapper {
  padding: 10px;
}

.secondary-span {
  color: grey;
  font-size: 13px;
}

.classic-input {
  width: 85%;
  margin-top: 10px;
}

.offer-filter-oneline {
  display: flex;
}

.container-90 {
  width: 90%;
  margin: 0 auto;
}

.input-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.ad-inputs-wrapper {
  display: flex;
  justify-content: center;
}

.adding-ap-sections {
  width: 100%;
}

.ap-filter-table-section {
  align-content: center;
}

.filters-wrapper-inner {
  display: flex;
  flex-direction: column;
}

.ap-filter-inputs {
  border-radius: 10px;
  border: 1px solid gray;
}

.filters-wrapper-inner-input {
  margin-bottom: 25px;
}

.filters-wrapper {
  color: aliceblue;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(75, 75, 196);
}

.ap-item-photo {
  width: 150px;
  height: 200px;
}
.ap-item-photo img {
  width: 100%;
  height: 100%;
}

.nonbordered-input {
  font-weight: 600;
  border: none;
}

.table {
  padding: 15px;
}